/*Estilos generales*/
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}
.container{
    display: flex;
    flex-wrap: wrap; /*permite que los elementos se envuelvan en dispositivos moviles*/
    justify-content: space-between; /*distribuye el espacio horizontal*/
    align-items: center;
    text-align: center;
}
.item{
    flex: 1; /*permite que los elementos ocupen el mismo espacio*/
    background-color: rgb(255, 200, 127);
    color: black;
    padding: 10px;
    border-radius: 5px; /*bordes*/
    box-shadow: 0px 10px 0px rgba( 0, 0, 0, 0.2); /*Sombra*/
    margin: 10px;
}
/*Establecer diseño responsivo para dispositivos moviles*/
@media(max-width: 600px) {
    .container{
        flex-direction: column;
        align-items: flex-start;
    }
}
.item:hover{
    transform: scale(1.1);
    background-color: antiquewhite; /*cuando pase por encima, cambie de color*/
} 
/*para el tamaño de las imagenes de los cereales*/
.img{
    width: 180px;
    height: 180px;
}
/*Para el navegador*/
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
h1{
    text-align: left;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}
.intro {
    padding: 20px;
    text-align: center;
 }
/*para la imagen del logo*/
.altura {
    height: 50px;
    width: 50px;
}
/* Formulario de contacto */ 
.contact-form {
    background-color: rgb(255, 200, 127);
    padding: 5%;
 }

 .contact-form h4 {
    text-align: center;
    margin-bottom: 20px;
 }

 .contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
 }

 .contact-form label {
    font-weight: bold;
 }

 .contact-form input,
 .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
 }
  
/*mision-vision div*/
.misionvision{	
    width: 95%;
    height: auto;
    margin: 50px auto;
	border-radius: 5px;  
	padding-top: 20px;
	padding-bottom: 20px;  
    background-color: rgb(255, 200, 127); 
    padding-left: 10px; 
}
/*footer*/
footer {
    display: flex;
    padding: 10px 5px;
    background-color: rgb(0, 0, 0);
    color: #fff;
}
footer p {
    flex: 1;
    margin: 0;
}
footer ul {
    flex: 1;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding-left: 0;
    list-style: none;
}
/*color footer, borde y altura/ancho imagen*/
.colorfooter{
    background-color:rgb(5, 5, 5);
    text-align: center;
    padding: 14px 16px;
}
/*Alto - Ancho imagen icono redes*/
.taman{
    width: 30px;
    right: 30px;
} 
/*color copy*/
.pfooter{
    color: rgb(179, 120, 31);
}

  /* Boton con animacion */
button{
    background:rgb(225, 165, 86) ;
    border:none;
    position:relative;
    height: 30px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}
button:hover{
    background:#7b4015;
    color:#e1b56b;
}
button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #6d4a2e;
    transition:400ms ease all;
}
button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
}
.centrarbotones{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px;
    text-align: center;
    font-size: small;
}




